--
-- PostgreSQL database dump
--

\restrict zGm4ZMZiWsGe73zpy5BQMVuvvQIjMGll2BgkuAJXtAOpi1uhXRDydxvOKk3O02s

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 17.8 (Debian 17.8-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public."SiteSocialLink" DROP CONSTRAINT IF EXISTS "SiteSocialLink_settingsId_fkey";
ALTER TABLE IF EXISTS ONLY public."Item" DROP CONSTRAINT IF EXISTS "Item_categoryId_fkey";
ALTER TABLE IF EXISTS ONLY public."ItemImage" DROP CONSTRAINT IF EXISTS "ItemImage_itemId_fkey";
ALTER TABLE IF EXISTS ONLY public."InternalNote" DROP CONSTRAINT IF EXISTS "InternalNote_bookingId_fkey";
ALTER TABLE IF EXISTS ONLY public."Category" DROP CONSTRAINT IF EXISTS "Category_catalogTypeId_fkey";
ALTER TABLE IF EXISTS ONLY public."CalendarSyncRecord" DROP CONSTRAINT IF EXISTS "CalendarSyncRecord_bookingId_fkey";
ALTER TABLE IF EXISTS ONLY public."CalendarBlockerItem" DROP CONSTRAINT IF EXISTS "CalendarBlockerItem_itemId_fkey";
ALTER TABLE IF EXISTS ONLY public."CalendarBlockerItem" DROP CONSTRAINT IF EXISTS "CalendarBlockerItem_blockerId_fkey";
ALTER TABLE IF EXISTS ONLY public."BookingItem" DROP CONSTRAINT IF EXISTS "BookingItem_itemId_fkey";
ALTER TABLE IF EXISTS ONLY public."BookingItem" DROP CONSTRAINT IF EXISTS "BookingItem_bookingId_fkey";
ALTER TABLE IF EXISTS ONLY public."BookingCustomer" DROP CONSTRAINT IF EXISTS "BookingCustomer_bookingId_fkey";
DROP INDEX IF EXISTS public."SiteSocialLink_sortOrder_idx";
DROP INDEX IF EXISTS public."SiteSocialLink_settingsId_idx";
DROP INDEX IF EXISTS public."SiteSettings_key_key";
DROP INDEX IF EXISTS public."Item_sortOrder_idx";
DROP INDEX IF EXISTS public."Item_slug_key";
DROP INDEX IF EXISTS public."Item_categoryId_idx";
DROP INDEX IF EXISTS public."ItemImage_itemId_idx";
DROP INDEX IF EXISTS public."InternalNote_bookingId_idx";
DROP INDEX IF EXISTS public."GlobalImage_sortOrder_idx";
DROP INDEX IF EXISTS public."GlobalImage_area_published_idx";
DROP INDEX IF EXISTS public."Faq_sortOrder_idx";
DROP INDEX IF EXISTS public."Category_sortOrder_idx";
DROP INDEX IF EXISTS public."Category_slug_key";
DROP INDEX IF EXISTS public."Category_catalogTypeId_idx";
DROP INDEX IF EXISTS public."CatalogType_slug_key";
DROP INDEX IF EXISTS public."CatalogType_isActive_sortOrder_idx";
DROP INDEX IF EXISTS public."CalendarSyncRecord_syncStatus_idx";
DROP INDEX IF EXISTS public."CalendarSyncRecord_bookingId_key";
DROP INDEX IF EXISTS public."CalendarBlocker_status_idx";
DROP INDEX IF EXISTS public."CalendarBlocker_startDate_endDate_idx";
DROP INDEX IF EXISTS public."CalendarBlockerItem_itemId_idx";
DROP INDEX IF EXISTS public."CalendarBlockerItem_blockerId_itemId_key";
DROP INDEX IF EXISTS public."Booking_status_idx";
DROP INDEX IF EXISTS public."Booking_startDate_endDate_idx";
DROP INDEX IF EXISTS public."Booking_referenceCode_key";
DROP INDEX IF EXISTS public."BookingItem_itemId_idx";
DROP INDEX IF EXISTS public."BookingItem_bookingId_idx";
DROP INDEX IF EXISTS public."BookingCustomer_email_idx";
DROP INDEX IF EXISTS public."BookingCustomer_bookingId_key";
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
ALTER TABLE IF EXISTS ONLY public."SiteSocialLink" DROP CONSTRAINT IF EXISTS "SiteSocialLink_pkey";
ALTER TABLE IF EXISTS ONLY public."SiteSettings" DROP CONSTRAINT IF EXISTS "SiteSettings_pkey";
ALTER TABLE IF EXISTS ONLY public."Item" DROP CONSTRAINT IF EXISTS "Item_pkey";
ALTER TABLE IF EXISTS ONLY public."ItemImage" DROP CONSTRAINT IF EXISTS "ItemImage_pkey";
ALTER TABLE IF EXISTS ONLY public."InternalNote" DROP CONSTRAINT IF EXISTS "InternalNote_pkey";
ALTER TABLE IF EXISTS ONLY public."GlobalImage" DROP CONSTRAINT IF EXISTS "GlobalImage_pkey";
ALTER TABLE IF EXISTS ONLY public."Faq" DROP CONSTRAINT IF EXISTS "Faq_pkey";
ALTER TABLE IF EXISTS ONLY public."Category" DROP CONSTRAINT IF EXISTS "Category_pkey";
ALTER TABLE IF EXISTS ONLY public."CatalogType" DROP CONSTRAINT IF EXISTS "CatalogType_pkey";
ALTER TABLE IF EXISTS ONLY public."CalendarSyncRecord" DROP CONSTRAINT IF EXISTS "CalendarSyncRecord_pkey";
ALTER TABLE IF EXISTS ONLY public."CalendarBlocker" DROP CONSTRAINT IF EXISTS "CalendarBlocker_pkey";
ALTER TABLE IF EXISTS ONLY public."CalendarBlockerItem" DROP CONSTRAINT IF EXISTS "CalendarBlockerItem_pkey";
ALTER TABLE IF EXISTS ONLY public."Booking" DROP CONSTRAINT IF EXISTS "Booking_pkey";
ALTER TABLE IF EXISTS ONLY public."BookingItem" DROP CONSTRAINT IF EXISTS "BookingItem_pkey";
ALTER TABLE IF EXISTS ONLY public."BookingCustomer" DROP CONSTRAINT IF EXISTS "BookingCustomer_pkey";
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TABLE IF EXISTS public."SiteSocialLink";
DROP TABLE IF EXISTS public."SiteSettings";
DROP TABLE IF EXISTS public."ItemImage";
DROP TABLE IF EXISTS public."Item";
DROP TABLE IF EXISTS public."InternalNote";
DROP TABLE IF EXISTS public."GlobalImage";
DROP TABLE IF EXISTS public."Faq";
DROP TABLE IF EXISTS public."Category";
DROP TABLE IF EXISTS public."CatalogType";
DROP TABLE IF EXISTS public."CalendarSyncRecord";
DROP TABLE IF EXISTS public."CalendarBlockerItem";
DROP TABLE IF EXISTS public."CalendarBlocker";
DROP TABLE IF EXISTS public."BookingItem";
DROP TABLE IF EXISTS public."BookingCustomer";
DROP TABLE IF EXISTS public."Booking";
DROP TYPE IF EXISTS public."ItemPriceType";
--
-- Name: ItemPriceType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."ItemPriceType" AS ENUM (
    'FIXED',
    'ON_REQUEST',
    'FROM_PRICE'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Booking; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Booking" (
    id text NOT NULL,
    "referenceCode" text NOT NULL,
    status text DEFAULT 'requested'::text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "deliveryType" text NOT NULL,
    "customerMessage" text,
    "billingAddressSameAsDelivery" boolean DEFAULT true NOT NULL,
    "billingAddress" jsonb,
    "totalPriceCents" integer,
    "hasIndividualPricing" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: BookingCustomer; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BookingCustomer" (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text NOT NULL,
    phone text,
    "addressLine1" text,
    zip text,
    city text
);


--
-- Name: BookingItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."BookingItem" (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "itemId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    "resourceTitle" text,
    "priceType" text,
    "basePriceCents" integer,
    "priceLabel" text,
    "displayPrice" text,
    "pricingMode" text,
    "pricingReason" text,
    "bookingDays" integer,
    "calculatedUnitPriceCents" integer,
    "calculatedTotalPriceCents" integer
);


--
-- Name: CalendarBlocker; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CalendarBlocker" (
    id text NOT NULL,
    title text NOT NULL,
    status text DEFAULT 'blocked'::text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "appliesToAllItems" boolean DEFAULT false NOT NULL,
    description text,
    "contactName" text,
    source text DEFAULT 'manual'::text NOT NULL,
    "createdBy" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CalendarBlockerItem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CalendarBlockerItem" (
    id text NOT NULL,
    "blockerId" text NOT NULL,
    "itemId" text NOT NULL
);


--
-- Name: CalendarSyncRecord; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CalendarSyncRecord" (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "externalEventId" text,
    "syncStatus" text DEFAULT 'pending'::text NOT NULL,
    "lastSyncedAt" timestamp(3) without time zone,
    "syncError" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: CatalogType; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."CatalogType" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "navLabel" text,
    "showInNav" boolean DEFAULT true NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: Category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "imageUrl" text,
    "imageKey" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "catalogTypeId" text NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


--
-- Name: Faq; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Faq" (
    id text NOT NULL,
    question text NOT NULL,
    answer text NOT NULL,
    published boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: GlobalImage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."GlobalImage" (
    id text NOT NULL,
    url text NOT NULL,
    key text NOT NULL,
    alt text,
    area text DEFAULT 'OTHER'::text NOT NULL,
    published boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: InternalNote; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."InternalNote" (
    id text NOT NULL,
    "bookingId" text NOT NULL,
    "authorId" text NOT NULL,
    content text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: Item; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Item" (
    id text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    description text,
    "priceCents" integer,
    published boolean DEFAULT false NOT NULL,
    "categoryId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "priceType" public."ItemPriceType" DEFAULT 'FIXED'::public."ItemPriceType" NOT NULL,
    "basePriceCents" integer,
    "priceLabel" text,
    "shortDescription" text,
    "longDescription" text,
    "videoUrl" text,
    "depositRequired" boolean DEFAULT false NOT NULL,
    "depositLabel" text,
    "depositInfo" text,
    "cleaningFeeApplies" boolean DEFAULT false NOT NULL,
    "cleaningFeeLabel" text,
    "cleaningFeeInfo" text,
    "dryingFeeApplies" boolean DEFAULT false NOT NULL,
    "dryingFeeLabel" text,
    "dryingFeeInfo" text,
    "additionalCostsInfo" text,
    "deliveryAvailable" boolean DEFAULT false NOT NULL,
    "pickupAvailable" boolean DEFAULT false NOT NULL,
    "requiresDeliveryAddress" boolean DEFAULT false NOT NULL,
    "deliveryInfo" text,
    "usageInfo" text,
    "rentalNotes" text,
    "setupRequirements" text,
    "accessRequirements" text,
    "trackInventory" boolean DEFAULT true NOT NULL,
    "totalStock" integer DEFAULT 1 NOT NULL
);


--
-- Name: ItemImage; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."ItemImage" (
    id text NOT NULL,
    url text NOT NULL,
    alt text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "itemId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    key text NOT NULL
);


--
-- Name: SiteSettings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SiteSettings" (
    id text NOT NULL,
    key text DEFAULT 'default'::text NOT NULL,
    phone text,
    email text,
    address text,
    "openingHours" text,
    "noticeText" text,
    "heroTitle" text,
    "heroText" text,
    "additionalInfo" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: SiteSocialLink; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."SiteSocialLink" (
    id text NOT NULL,
    "settingsId" text NOT NULL,
    platform text NOT NULL,
    label text,
    url text NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Data for Name: Booking; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Booking" (id, "referenceCode", status, "startDate", "endDate", "deliveryType", "customerMessage", "billingAddressSameAsDelivery", "billingAddress", "totalPriceCents", "hasIndividualPricing", "createdAt", "updatedAt") FROM stdin;
cmoswyvbv0000f4il49oj15md	REQ-813686	approved	2026-05-05 00:00:00	2026-05-06 00:00:00	delivery	test	t	{"zip": "12", "city": "1223", "addressLine1": "asdas 12", "nameOrCompany": "tes test"}	22350	f	2026-05-05 17:40:13.723	2026-05-05 17:45:05.403
\.


--
-- Data for Name: BookingCustomer; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BookingCustomer" (id, "bookingId", "firstName", "lastName", email, phone, "addressLine1", zip, city) FROM stdin;
cmoswyvc00001f4ilxw125sn0	cmoswyvbv0000f4il49oj15md	tes	test	23@rtes.com	123123	asdas 12	12	1223
\.


--
-- Data for Name: BookingItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."BookingItem" (id, "bookingId", "itemId", quantity, "resourceTitle", "priceType", "basePriceCents", "priceLabel", "displayPrice", "pricingMode", "pricingReason", "bookingDays", "calculatedUnitPriceCents", "calculatedTotalPriceCents") FROM stdin;
cmoswyvc50002f4il3fbufj43	cmoswyvbv0000f4il49oj15md	cmossle59000e14ildhusuod2	1	H├╝pfburg Dschungel	FIXED	14900	ab 149 Ôé¼	ab 149 Ôé¼	auto	\N	2	22350	22350
\.


--
-- Data for Name: CalendarBlocker; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CalendarBlocker" (id, title, status, "startDate", "endDate", "appliesToAllItems", description, "contactName", source, "createdBy", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CalendarBlockerItem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CalendarBlockerItem" (id, "blockerId", "itemId") FROM stdin;
\.


--
-- Data for Name: CalendarSyncRecord; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."CalendarSyncRecord" (id, "bookingId", "externalEventId", "syncStatus", "lastSyncedAt", "syncError", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: CatalogType; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Faq; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: GlobalImage; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: InternalNote; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."InternalNote" (id, "bookingId", "authorId", content, "createdAt") FROM stdin;
cmosx54el0003f4ilmdm4ihpk	cmoswyvbv0000f4il49oj15md	system-admin	Status changed to Approved	2026-05-05 17:45:05.421
\.


--
-- Data for Name: Item; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ItemImage; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: SiteSettings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: SiteSocialLink; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."SiteSocialLink" (id, "settingsId", platform, label, url, "sortOrder", "isActive", "createdAt", "updatedAt") FROM stdin;
cmostbyhu0000zoillo0bulma	cmossle0r000014ilwhgcqcrc	facebook	Facebook	https://facebook.com/gmf-eventmodule	0	t	2026-05-05 15:58:25.89	2026-05-05 15:58:25.89
cmostbyhu0001zoiliihatg1j	cmossle0r000014ilwhgcqcrc	instagram	Instagram	https://instagram.com/gmf-eventmodule	1	t	2026-05-05 15:58:25.89	2026-05-05 15:58:25.89
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: BookingCustomer BookingCustomer_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BookingCustomer"
    ADD CONSTRAINT "BookingCustomer_pkey" PRIMARY KEY (id);


--
-- Name: BookingItem BookingItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BookingItem"
    ADD CONSTRAINT "BookingItem_pkey" PRIMARY KEY (id);


--
-- Name: Booking Booking_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Booking"
    ADD CONSTRAINT "Booking_pkey" PRIMARY KEY (id);


--
-- Name: CalendarBlockerItem CalendarBlockerItem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarBlockerItem"
    ADD CONSTRAINT "CalendarBlockerItem_pkey" PRIMARY KEY (id);


--
-- Name: CalendarBlocker CalendarBlocker_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarBlocker"
    ADD CONSTRAINT "CalendarBlocker_pkey" PRIMARY KEY (id);


--
-- Name: CalendarSyncRecord CalendarSyncRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarSyncRecord"
    ADD CONSTRAINT "CalendarSyncRecord_pkey" PRIMARY KEY (id);


--
-- Name: CatalogType CatalogType_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CatalogType"
    ADD CONSTRAINT "CatalogType_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Faq Faq_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Faq"
    ADD CONSTRAINT "Faq_pkey" PRIMARY KEY (id);


--
-- Name: GlobalImage GlobalImage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."GlobalImage"
    ADD CONSTRAINT "GlobalImage_pkey" PRIMARY KEY (id);


--
-- Name: InternalNote InternalNote_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InternalNote"
    ADD CONSTRAINT "InternalNote_pkey" PRIMARY KEY (id);


--
-- Name: ItemImage ItemImage_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ItemImage"
    ADD CONSTRAINT "ItemImage_pkey" PRIMARY KEY (id);


--
-- Name: Item Item_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_pkey" PRIMARY KEY (id);


--
-- Name: SiteSettings SiteSettings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SiteSettings"
    ADD CONSTRAINT "SiteSettings_pkey" PRIMARY KEY (id);


--
-- Name: SiteSocialLink SiteSocialLink_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SiteSocialLink"
    ADD CONSTRAINT "SiteSocialLink_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: BookingCustomer_bookingId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "BookingCustomer_bookingId_key" ON public."BookingCustomer" USING btree ("bookingId");


--
-- Name: BookingCustomer_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "BookingCustomer_email_idx" ON public."BookingCustomer" USING btree (email);


--
-- Name: BookingItem_bookingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "BookingItem_bookingId_idx" ON public."BookingItem" USING btree ("bookingId");


--
-- Name: BookingItem_itemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "BookingItem_itemId_idx" ON public."BookingItem" USING btree ("itemId");


--
-- Name: Booking_referenceCode_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Booking_referenceCode_key" ON public."Booking" USING btree ("referenceCode");


--
-- Name: Booking_startDate_endDate_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Booking_startDate_endDate_idx" ON public."Booking" USING btree ("startDate", "endDate");


--
-- Name: Booking_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Booking_status_idx" ON public."Booking" USING btree (status);


--
-- Name: CalendarBlockerItem_blockerId_itemId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CalendarBlockerItem_blockerId_itemId_key" ON public."CalendarBlockerItem" USING btree ("blockerId", "itemId");


--
-- Name: CalendarBlockerItem_itemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CalendarBlockerItem_itemId_idx" ON public."CalendarBlockerItem" USING btree ("itemId");


--
-- Name: CalendarBlocker_startDate_endDate_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CalendarBlocker_startDate_endDate_idx" ON public."CalendarBlocker" USING btree ("startDate", "endDate");


--
-- Name: CalendarBlocker_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CalendarBlocker_status_idx" ON public."CalendarBlocker" USING btree (status);


--
-- Name: CalendarSyncRecord_bookingId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CalendarSyncRecord_bookingId_key" ON public."CalendarSyncRecord" USING btree ("bookingId");


--
-- Name: CalendarSyncRecord_syncStatus_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CalendarSyncRecord_syncStatus_idx" ON public."CalendarSyncRecord" USING btree ("syncStatus");


--
-- Name: CatalogType_isActive_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "CatalogType_isActive_sortOrder_idx" ON public."CatalogType" USING btree ("isActive", "sortOrder");


--
-- Name: CatalogType_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "CatalogType_slug_key" ON public."CatalogType" USING btree (slug);


--
-- Name: Category_catalogTypeId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Category_catalogTypeId_idx" ON public."Category" USING btree ("catalogTypeId");


--
-- Name: Category_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Category_slug_key" ON public."Category" USING btree (slug);


--
-- Name: Category_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Category_sortOrder_idx" ON public."Category" USING btree ("sortOrder");


--
-- Name: Faq_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Faq_sortOrder_idx" ON public."Faq" USING btree ("sortOrder");


--
-- Name: GlobalImage_area_published_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "GlobalImage_area_published_idx" ON public."GlobalImage" USING btree (area, published);


--
-- Name: GlobalImage_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "GlobalImage_sortOrder_idx" ON public."GlobalImage" USING btree ("sortOrder");


--
-- Name: InternalNote_bookingId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "InternalNote_bookingId_idx" ON public."InternalNote" USING btree ("bookingId");


--
-- Name: ItemImage_itemId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "ItemImage_itemId_idx" ON public."ItemImage" USING btree ("itemId");


--
-- Name: Item_categoryId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Item_categoryId_idx" ON public."Item" USING btree ("categoryId");


--
-- Name: Item_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "Item_slug_key" ON public."Item" USING btree (slug);


--
-- Name: Item_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "Item_sortOrder_idx" ON public."Item" USING btree ("sortOrder");


--
-- Name: SiteSettings_key_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "SiteSettings_key_key" ON public."SiteSettings" USING btree (key);


--
-- Name: SiteSocialLink_settingsId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SiteSocialLink_settingsId_idx" ON public."SiteSocialLink" USING btree ("settingsId");


--
-- Name: SiteSocialLink_sortOrder_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "SiteSocialLink_sortOrder_idx" ON public."SiteSocialLink" USING btree ("sortOrder");


--
-- Name: BookingCustomer BookingCustomer_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BookingCustomer"
    ADD CONSTRAINT "BookingCustomer_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public."Booking"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookingItem BookingItem_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BookingItem"
    ADD CONSTRAINT "BookingItem_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public."Booking"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: BookingItem BookingItem_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."BookingItem"
    ADD CONSTRAINT "BookingItem_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: CalendarBlockerItem CalendarBlockerItem_blockerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarBlockerItem"
    ADD CONSTRAINT "CalendarBlockerItem_blockerId_fkey" FOREIGN KEY ("blockerId") REFERENCES public."CalendarBlocker"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CalendarBlockerItem CalendarBlockerItem_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarBlockerItem"
    ADD CONSTRAINT "CalendarBlockerItem_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CalendarSyncRecord CalendarSyncRecord_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."CalendarSyncRecord"
    ADD CONSTRAINT "CalendarSyncRecord_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public."Booking"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Category Category_catalogTypeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_catalogTypeId_fkey" FOREIGN KEY ("catalogTypeId") REFERENCES public."CatalogType"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: InternalNote InternalNote_bookingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."InternalNote"
    ADD CONSTRAINT "InternalNote_bookingId_fkey" FOREIGN KEY ("bookingId") REFERENCES public."Booking"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ItemImage ItemImage_itemId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."ItemImage"
    ADD CONSTRAINT "ItemImage_itemId_fkey" FOREIGN KEY ("itemId") REFERENCES public."Item"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Item Item_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Item"
    ADD CONSTRAINT "Item_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."Category"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SiteSocialLink SiteSocialLink_settingsId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."SiteSocialLink"
    ADD CONSTRAINT "SiteSocialLink_settingsId_fkey" FOREIGN KEY ("settingsId") REFERENCES public."SiteSettings"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict zGm4ZMZiWsGe73zpy5BQMVuvvQIjMGll2BgkuAJXtAOpi1uhXRDydxvOKk3O02s

